<div class="thumbnail">
  <%#= image_tag product[:image_url], alt: product.name %>
  <%#= link_to image_path(product.image_url) do %>
   <!--<img src= "<%#= product.image_url %>", alt= <%#= product.name %>>-->
   <%#= image_tag product.image_url, alt: product.name %>
  <%# end %>
  <%= image_tag product.image_url, alt: product.name %>
  <div class="caption">
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <% if get_current_user %>
    <div>
    	<%= link_to 'Edit', edit_product_path(product), class: "btn btn-primary" %>
    	<%#= link_to 'Show', product_path(product), class: "btn btn-primary" %>
    	<%= link_to 'Delete', product_path(product), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure?" } %>
    </div>
    <% end %>
  </div>
</div>
<%#= page %>
<%#= params.to_s %>
