<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<ul class="list-group">
				<% @categories.try(:each) do |category| %>
					<li class="list-group-item">
						<%= link_to products_category_path(category) do %>
						<%= category.name %>
						<% end %>
							<ul class="list-group">
									<% category.subcategories.try(:each) do |subcategory| %>
										<li class="list-group-item">
											<%= link_to products_subcategory_path(category_id: category,subcategory_id: subcategory) do %>
												<%= subcategory.name %>
											<% end %>										
										</li>
									<% end %>
							</ul>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-9">

			<div class="row">
				<div class="jumbotron">
				  <h1><%= @ad[:title] %></h1>
				  <p><%= @ad[:description] %></p>
				  <%= link_to @ad[:action_title], products_path, class: "btn btn-primary btn-lg" %>
				</div>
			</div>

			<div class="row">
				<% @products.each_with_index do |p,index| %>
					<div class="col-sm-6 col-md-4">
						<%= render 'products/card/small', product: p %>
					</div>
				<% end %>
			</div>

			<div class="row">
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				  	<% if @page != @first_page && @products.present? %>
					    <li>
					      	<%= link_to products_path(page: @page - 1) do %>
					        	<span aria-hidden="true">&laquo;</span>
					      	<% end %>
					    </li>
				    <% end %>
				    <% (@first_page..@last_page).each do |page_number| %>
				    	<li><%= link_to page_number, products_path(page: page_number) %></li>
				    <% end %>
				    <% if @page != @last_page && @products.present? %>
					    <li>
					    	<%= link_to products_path(page: @page + 1) do %>
					        	<span aria-hidden="true">&raquo;</span>
					        <% end %>
					    </li>
					<% end %>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>
