<h3>編輯商品</h3>
<%= form_for @product, method: :put do |p| %>
<div class="form-group">
	<%= p.label :name,"名稱" %>
	<%= p.text_field :name,class: "form-control" %>
</div>
<div class="form-group">
	<%= p.label :description,"描述" %>
	<%= p.text_field :description,class: "form-control" %>
</div>
<div class="form-group">
	<%= p.label :image,"圖片" %><br/>
	<%= image_tag @product.image_url || "http://via.placeholder.com/350x150", size: "242x200", id: "image_preview", original_image: @product.image_url%>
	<%= p.file_field :image, accept: "image/gif, image/jpg, image/jpeg, image/png" %>
</div>
<div class="form-group">
	<%= p.label :price,"價格" %>
	<%= p.number_field :price,class: "form-control" %>
</div>
<div class="form-group">
	<%= p.label :subcategory_id, "副類別" %>
	<%= p.select("subcategory_id", Subcategory.all.order(:category_id).collect{ |s| [s.name_wtih_category, s.id]}, {include_blank: '請選擇'}) %>
</div>
	<%= p.submit "更新",class: "btn btn-primary" %>
	<%#= link_to 'Back', products_path(page: params[:page]), class: "btn btn-default" %>
	<%= link_to 'Back', products_path, class: "btn btn-default" %>
<% end %>
<br/>
<%#= params %>
<script type="text/javascript">
	$(function(){
		$("#product_image").change(function(){
			readImageUrl(this,"image_preview");
		});
	});
</script>