<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<ul class="list-group">
				<% @categories.try(:each) do |category| %>
					<li class="list-group-item">
						<%= category.name %>
							<ul class="list-group">
									<% category.subcategories.each do |subcategory| %>
										<li class="list-group-item">
											<%= subcategory.name %>
										</li>
									<% end %>
							</ul>
					</li>
				<% end %>
			</ul>
		</div>
		<div class="col-xs-9">
			<div class="">
				<div class="jumbotron">
				  <h1><%= @ad[:title] %></h1>
				  <%#= render partial: "products/images" %>
				  <p><%= @ad[:description] %></p>
				  <!--<p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ad[:action_title] %></a></p>-->
				  <%= link_to @ad[:action_title], products_path, class: "btn btn-primary btn-lg" %>
				</div>
			</div>
			<div class="row">
				<% @products.each_with_index do |p,index| %>
					<div class="col-xs-3">
						<%#= render partial: "products/card/small", locals: {product: product} %>
						<%#= render 'products/card/small', product: product, page: @page %>
						<%= render 'products/card/small', product: p %>
					</div>
				<% end %>
			</div>
			<div class="row">
				<nav aria-label="Page navigation">
				  <ul class="pagination">
				  	<% if @page != @first_page %>
					    <li>
					      	<%= link_to products_path(page: @page - 1) do %>
					        	<span aria-hidden="true">&laquo;</span>
					      	<% end %>
					    </li>
				    <% end %>
				    <% (@first_page..@last_page).each do |page_number| %>
				    	<li><%= link_to page_number, products_path(page: page_number) %></li>
				    <% end %>
				    <% if @page != @last_page %>
					    <li>
					    	<%= link_to products_path(page: @page + 1) do %>
					        	<span aria-hidden="true">&raquo;</span>
					        <% end %>
					    </li>
					<% end %>
				  </ul>
				</nav>
			</div>
		</div>
	</div>
</div>
